*{
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  border: 5px solid black;
}

.headersection{
  display: flex;
  justify-content: space-between;
}

.centre ul li {
  list-style: none;
  display: inline;
  margin: 0px 5px;
}

.left{
  flex : 2;
}

.centre{
  flex: 4;
}

.search{
  flex: 2;
}

.right{
  flex: 2;
}